header{
hbackground-color: rgb(60, 60, 162);
width: 100000; height: 250px           ;
text-align: center;

}

body{
background-color: rgb(221, 221, 110);


    
}
*{
margin-top:10px;
    margin-left:0;
 margin-right: 0;
 
    padding: 0;
}
